name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Submodules
        run: git submodule update --init --recursive

      - name: Cache TestSuite
        id: cache-test-suite
        uses: actions/cache@v3
        with:
          path: ./build/fiu-tests
          key: ${{ runner.os }}-build-test-suite-${{ hashFiles('./tests/**/*.cpp') }}-${{ hashFiles('./tests/**/*.h') }}

      - if: ${{ steps.cache-test-suite.outputs.cache-hit != 'true' }}
        name: Make tests
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release -B ./build ./tests
          cmake --build ./build --target=fiu-tests --config Release
      
      - name: Run tests
        run: |
          ./build/fiu-tests -O2 -D2

      - name: Run tests with DefaultFlags
        run: |
          ./build/fiu-tests -O2 -D2 -defaultflags
